*{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}
.header{

}
/*
nav ne{
    margin-left: 40px;
}*/
nav h1{
    color: #8c19a9;
    margin-left: 5%;
}

body{
    background-color:rgb(197, 223, 229);
    /*background-image: url("priya.jpeg");*/
}
.total{
    position:relative;
    width: 100%;
    height: 100vh;
    /*background: #eff4fd;*/
}
nav{
    display:flex;
    top:0;
   /*width:84%;
    margin:auto;*/
    padding:20px 0;
    align-items:center;
    justify-content: space-between;
    background-color:rgba(165, 42, 42, 0.315);
    left: 0;
    position: sticky;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 20px;
}
nav ul li a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
}
nav ul li a:hover{
    color:deeppink;
}

.Intro{
    margin-left: 8%;
    margin-top:15%;
}


.Intro h1{
    font-size:50px;
    color: #8c19a9;
    margin-bottom:20px;
}

.Intro p{
    color:rgb(22, 22, 21);
    font-size:25px;
}

.hd{
    text-align: center;
    
}
.knmab{
   /* margin-top:5px;*/
    margin-left:10px;
    margin-right: 10px;
    border:0px solid rgb(21, 24, 26);
    padding:5px 5px 5px 5px;
    
    box-shadow: 4px 4px 4px 0 rgb(49, 190, 157);
    border-radius: 5px;
}/*
.nv{
    margin: 2%;
        box-shadow: 4px 4px 4px 0 rgb(49, 190, 157);
}*/
.cards{
   
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 2%;
        
    
}

.card1 {
    width: 250px;
    height: 200px;
    background-color: #f3f8f9;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 20px;
    margin:1%;

}

.card-content{
    padding: 20px;
    height: 30px;
    text-align: left;
    padding-bottom: 5px;
    
}
.cards card1 card-content{
    padding-bottom:100px;
}
#ED{

    margin-top: 25px;
    text-align: center;
}
img{
    height: 50%;
    position: absolute;
    left:50%;
    bottom: 20%;
    display: block;
    position:absolute;
    width: 30%;
    
}
.image{
    margin-left: 250px;
}




.card2 {
    width: 450px;
    height: 200px;
    background-color: #f3f8f9;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 10px;
    margin:2%;

}

.card1-content{
    padding: 20px;
    height: 30px;
    text-align: left;
    padding-bottom: 5px;
    
}
.cardss{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    

}
.ttotal{

   /* width: 5px;
    height: 200px;
    background-color: #f3f8f9;
    text-align: center;
    padding-bottom: 10px;*/
    border-radius: 10px;
    border-radius: 5px solid black;
    text-align:left;
    margin-left: 2px;

}